/*

* Override Pages default styles or create your own styles here

*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.icon {
    cursor: pointer;
}

a.custom {
    text-decoration: underline;
    color:#626262 !important;
}
a.custom:hover {
    text-decoration: none;
    color:#626262 !important;
}

.compact tbody tr td {
    padding:5px !important;
}
.compact thead tr th {
    padding:5px !important;
}
filler {
    background-color: #ebebeb; 
    border-radius: 3px;
    padding:5px;
}